.container {
    margin-top: 70px;
}

.well {
    position: relative;
}

#messages ul {
    list-style: none;
    margin: 0;
}

#todo-list .control-group {
    margin-bottom: 5px;
}

#todo-list .done {
    text-decoration: line-through;
}

#todo-list .help-block {
    font-size: 11px;
    margin-top: 0;
}

#todo-list p {
    padding-top: 10px;
}